@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  text-align: center;
  margin: 0 auto;
  min-height: 100vh;
  background-image: linear-gradient(90deg, #410076, #9935eb);
  color: whitesmoke;
}

p {
  padding: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 18px;
  width: 100%;
  border-style: solid;
  border-radius: 5px;
  padding: 8px;
}
